

@media only screen and (min-width: 1921px) {
    
}
/* Desktop */
@media only screen and (max-width: 1680px) {
    
}
/* Desktop */
@media only screen and (max-width: 1920px) {
    
}
/* Desktop */
@media only screen and (max-width: 1680px) {
    
}

/* Laptop */
@media only screen and (max-width: 1440px) {
    
}
/* Ipad Pro */
@media only screen and (max-width: 1024px) {
    .MainAbout {
        /* background: #eee; */
        height: 768px;
        min-width: 769px;
        max-width: 1024px;
        width: 100%;
        box-sizing: content-box;
        text-align: center;
    }
    .AboutIntro {
        /* box-sizing: border-box; */
        text-align: left;
        width: 50%;
        margin-left: 25%;
        position: absolute;
        margin-top: 15%;
        background: beige;
        opacity: 0.75;
        border: 1px solid yellow;
    }
    .IntroText {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        text-emphasis: bold;
        font-family: fantasy;
        color: blue;
        margin-top: 0.5%;
        margin-bottom: 0%
    }
    
    .AboutResources {
        width: 60%;
        margin-left: 20%;
        margin-top: 40%;
        position: absolute;
        background: beige;
        opacity: 0.7;
        text-emphasis: bold;
        border: 1px solid navy;
    }
    .ParticlesStyleAbout {
        display: flex;
        background:rgb(0, 24, 125);
        width: 100%;
        height: 100%;
    }
    .ParticlesSabout {
        width: 100%
    }
}
/* Ipad */
@media only screen and (max-width: 768px) {
    .MainAbout {
        /* background: #eee; */
        height: 1024px;
        min-width: 416px;
        max-width: 768px;
        width: 100%;
        box-sizing: content-box;
        text-align: center;
    }
    .AboutIntro {
        /* box-sizing: border-box; */
        text-align: left;
        width: 50%;
        margin-left: 25%;
        position: absolute;
        margin-top: 15%;
        background: beige;
        opacity: 0.75;
        border: 1px solid yellow;
    }
    .IntroText {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        text-emphasis: bold;
        font-family: fantasy;
        color: blue;
        margin-top: 0.5%;
        margin-bottom: 0%
    }
    
    .AboutResources {
        width: 60%;
        margin-left: 20%;
        margin-top: 40%;
        position: absolute;
        background: beige;
        opacity: 0.7;
        text-emphasis: bold;
        border: 1px solid navy;
    }
    .ParticlesStyleAbout {
        display: flex;
        background:rgb(0, 24, 125);
        width: 100%;
        height: 100%;
    }
    .ParticlesSabout {
        width: 100%
    }
   
    
}
/*Mobile */
@media only screen and (max-width: 415px) {
    .MainAbout {
        /* background: #eee; */
        height: 736px;
        min-width: 376px;
        max-width: 415px;
        width: 100%;
        text-align: center;
        box-sizing: content-box;
    }
    .AboutIntro {
        /* box-sizing: border-box; */
        text-align: left;
        /* padding: 4%; */
        width: 90%;
        margin-left: 3.5%;
        position: absolute;
        /* margin-top: 10%; */
        background: beige;
        opacity: 0.7;
        border: 1px solid yellow;
    }
    .IntroText {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        text-emphasis: bold;
        font-family: fantasy;
        color: blue;
    
        margin-top: 0.5%;
        margin-bottom: 0%
    }
    
    .AboutResources {
        width: 60%;
        margin-left: 20%;
        margin-top: 80%;
        /* display: flex; */
    
        position: absolute;
        background: beige;
        opacity: 0.7;
        text-emphasis: bold;
        /* height: 12%; */
        border: 1px solid navy;
    }
    .ParticlesStyleAbout {
        display: flex;
        background:rgb(0, 24, 125);
        width: 100%;
        height: 100%;
    }
}
/* Mobile */
@media only screen and (max-width: 375px) {
    .MainAbout {
        min-width: 360px;
        max-width: 375px;
        width: 100%;
        height: 667px;
        text-align: center;
        box-sizing: content-box;
    }
    .AboutIntro {
        text-align: left;
        width: 90%;
        margin-left: 5%;
        position: absolute;
        background: beige;
        opacity: 0.7;
        border: 1px solid yellow;
    }
    .IntroText {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
        text-emphasis: bold;
        font-family: fantasy;
        color: blue;
        margin-top: 0.5%;
        margin-bottom: 0%
    }
    
    .AboutResources {
        width: 60%;
        margin-left: 20%;
        margin-top: 85%;
        position: absolute;
        background: beige;
        opacity: 0.7;
        text-emphasis: bold;
        border: 1px solid navy;
    }
    .ParticlesStyleAbout {
        display: flex;
        background:rgb(0, 24, 125);
        width: 100%;
        height: 100%;
    }
}

